<!DOCTYPE html>
<html lang="en">
    <%- include("E:/node-cc/partials/header.ejs") %>
<body>
    <%- include("E:/node-cc/partials/nav.ejs") %>
       
    
    <div class="not-found ">
       <p> OOPS, page not found :( </p>
    
      </div>

    <%- include("E:/node-cc/partials/footer.ejs") %>
</body>
</html>
 