<!DOCTYPE html>
<html lang="en">
    <%- include("E:/node-cc/partials/header.ejs") %> 
<body>
    <%- include("E:/node-cc/partials/nav.ejs") %>
<p>This is about Quotography. You can send your own quotes and also view the quotes of others.</p>

<%- include("E:/node-cc/partials/footer.ejs") %>
</body>
</html>