<nav>
   
    <div class="div-style">
   
    <h1>Quotography</h1>
    <p> &ensp;Hi..It's Nandy</p></div>
  <ul>
        <a href="/index">Home </a> 
        <a href="/about"> &emsp;About page </a>
        <a href="/create"> &emsp;Add My Quote</a>
    </ul>

    </nav>